<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536589428304-0gfs4tfj9rh13lg5l1d33ganvlgnj81p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536589428304-0gfs4tfj9rh13lg5l1d33ganvlgnj81p</string>
	<key>API_KEY</key>
	<string>AIzaSyAQ4a45NunNSRR4pBc4Ltiq6feBvK90_6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>536589428304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gmmav2.gmma</string>
	<key>PROJECT_ID</key>
	<string>gmma-v1</string>
	<key>STORAGE_BUCKET</key>
	<string>gmma-v1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536589428304:ios:2c75b49e4da84e3aa1d355</string>
</dict>
</plist>